body{
    margin:0;
    background:lightgrey;
    width: 100%;
    display:flex;
    align-items: center;
}

.section{
    background:#19244d;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
}

.section-container-game{
    display:flex;
    justify-content: space-around;
}

.team{
    width: 40%;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.title{
    color:white;
    font-size: 70px;
    font-weight: bold;
}

.score{
    color:#fa4f6c;
    background:black;
    font-size: 100px;
    width: 200px;
    border-radius: 5px;
    margin-top: 0;
}


.btn{
    background:none;
    border: 1px solid white;
    color:white;
    width:50px;
    font-size: 20px;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
}

.btn-new-game{
    display: flex;
    background:none;
    border: 1px solid white;
    color:white;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 50px;
}